<h1>Search for - <%= @search_item %></h1>
<table border=1>
    <tr>
        <th>Image</th>
        <th>Name</th>
        <th>Description</th>
    </tr>
    <% @courses.each do |course| %>
        <tr class="<%= cycle('odd', 'even') %>">
            <td><%= image_tag(course['smallIcon']) %></td>
            <td><%= course['name'] %></td>
            <td><%= course['description'] %></td>
        </tr>
    <% end %>
</table>
